.colores{
   

color: #002d40 #CCE1F4 #4CB3A0 #25B386 #579bb1;
color: #579bb1 #579bb1 #e1d7c6 #eaebad #acd2ed;
}

.botonDespl {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  color: #579bb1;
  font-family: Trebuchet MS;
  font-size: 20px;
  font-weight: 00;
  padding: 5px;
  background-color: #e1d7c6;
  border: double #528fa3 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.botonDespl:hover {
  background: #ACD2ED;
  border: solid #e1d7c6 2px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  text-decoration: none;
}