.Card_container {
 width:fit-content;
 height: auto;
 background-color: #99aa38;
 border-radius: 10px;
 box-shadow: 0px 3px 10px rgba(31, 31, 31, .1);

 display: flex;
 margin: auto;
 margin-top: 100px;

}
.Card_img{
 width: 40%;
} 
.Card_img img{
    width: 45%;
    height: 45%;
    border-radius: 10px 0 0 10px;
}

.Card_data{
    width:60%;
}