.Card_container {
    border-radius: 10px;
    min-height: 300px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size:cover;
    background-position: center center;
    background-color:#acd2ed;

    width: 90%;
    height: 30%;
}
.Card_text{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content:  space-between;
}
.Card_img{
 width: 40%;
} 
.Card_data{
   display: grid;
   grid-template-rows: 1fr 2fr ;
}