

.head{
    background-color: #14591d;
    height: 50px; 
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-bottom: 8px;
    padding-left: 5px;  
}
.reload_dogs {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #EAEBAD;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 300;
    padding: 7px;
    background-color: #99AA38;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #0A210F 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .reload_dogs:hover {
    background: #0A210F;
    border: solid #99AA38 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.selectores{
    background-color: #acd2ed;
    height: 80px;
}
.botonSel {
    margin: 10px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #14591D;
    font-family: Trebuchet MS;
    font-size: 25px;
    font-weight: 900;
    padding: 7px;
    background-color: #99AA38;
    border: solid #14591D 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }


.fondo{
    background-color: #eaebad;
}

.conteiner{
    width: 98%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
/* .card_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    } */


