
 .search{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 10px 10px 10px 10px;
} 
.input{
    margin: 5px;
    padding: 8px;
}

.busqueda {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #579bb1;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    background-color: #e1d7c6;
    border: double #579bb1 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .busqueda:hover {
    background: #ACD2ED;
    border: solid #579bb1 2px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    text-decoration: none;
 }

